.base body{
    position: absolute;
    width: 760px;
    height: 669px;
    left: 426px;
    top: 20px;
    background: #cc0000;
}

.form {
    width: 300px;
    height: 500px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
}
/*
#questionInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;

    width: 564px;
    height: 56px;


    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 8px;


    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
} */